form textarea{
    height: 105px;
    resize: none;
}

form input[type="radio"]{
    margin: 15px 0;
}

form input[type="radio"]:not(:first-child){
    margin-left: 15px;
}

.status span{
    padding-left: 0.5em;
    font-size: 1.3em;
}

.buttons{
    margin-top: 10px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    background-color: #00488B;
    color: #fff;
    font-size: 1.3em;
}

.button-enviar{
    margin-top: -20px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    background-color: #b61b1b;
    color: #fff;
    font-size: 1.3em;
}